body
{
	margin: 0;
	background-image: url(img/chalkboard.jpg);
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
text-align: center;
margin-top: 0px;
padding: 0px;
font-size: 40px;
}


#container
{
	margin: auto;
	margin-top: 200px;
	height: 490px;
	width: 500px;
	border: 1px solid	lightgrey;
	-webkit-box-shadow: 1px 4px 26px 11px rgb(0 0 0 / 75%);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 11px rgb(0 0 0 / 75%);
	border-radius: 5px;
	text-align: center;
}

.content
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding-top: 10px;
}

.content1
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding: 10px;
	text-align: center;
	border: 2px solid	lightgrey;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	-webkit-box-shadow: 1px 4px 26px 11px rgb(0 0 0 / 75%);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 11px rgb(0 0 0 / 75%);
}



#logo
{
	margin: auto;
	height: 100px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	font-family: 'Chango', cursive;
	border-bottom: 1px solid lightgrey;
	border-radius: 5px;
	-webkit-box-shadow: 1px 4px 26px 11px rgb(0 0 0 / 75%);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: 1px 4px 13px 11px rgb(0 0 0 / 50%);
}

.logo2
{
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 500px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: 'Chango', cursive;
	border: 1px solid lightgrey;
	border-radius: 5px;
	-webkit-box-shadow: 1px 4px 26px 11px rgb(0 0 0 / 75%);
    -moz-box-shadow: 1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: 1px 4px 13px 11px rgb(0 0 0 / 50%);

}

.header
{
	padding: 25px;
	width: 100%;
	height: 100%;
}

.nav
{
width: 100%;
border-bottom: 1px solid white;
border-top: 1px solid white;
background-image: url(img/white_paperboard.png);
text-align: center;
padding: 10px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
}

input[type=email],
input[type=password],
input[type=text],
input[type=number],
input[type=date]
{
	width: 302px;
	background-color: #efefef;
	color: #666;
	border: 1px solid #ddd;
	border-radius:  0px 5px 5px 0px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	height: 40px;
	margin-top: 15px;
}

input[type=date]
{
appareance: none;	
}

input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
input[type=number]:focus,
input[type=date]:focus
{

	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

input[type=submit]
{
	width: 350px;
	background-color:  #efefef;
	font-size:20px;
	color: black;
	padding: 15px 10px;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:hover
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

.selector
{
	
}

.input-group
{
float: left;
}

.input-span
{
margin-top: 0px;
float: left;
background-color:  lightgrey;
height: 20px;
width: 26px;
padding: 10px;
border-right: 1px solid grey;
margin-top: 15px;
margin-left: 75px;
border-radius:  5px 0px 0px 5px;
color: #495057;
display: block;
text-align: center;

}
.menu-span
{
display: block;
margin-top:15px;
text-align: center;
}
.clearclass
{
clear: both;	
}
.dashboard
{

}
.dashboard a
{
	color: red;
	text-decoration: none;
	font-weight: bold;
}

.dashboard a:hover
{
	color: grey;
	text-decoration: underline;
}

.custom-control-label
{
	color: red;
	font-weight: bold;
}

.custom-control-label:hover
{
	color: grey;
	text-decoration: underline;
}

.input-password
{
float: left;
position: relative;
z-index:1;
}


.input-password i
{
		position: absolute;
		top: 24px; 
		right: 5px;
		z-index: 2;
		color: #495057;
}

ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #003333;
	font-weight: 600;
	text-decoration: none;
	display: block;
}

ol > li
{
	float: left;
	width: 165px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}

ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}

ol > li:hover
{
	background-color: #003333;

}

ol > li:hover > a
{
	color: white;
}

select
{
	width: 302px;
	background-color: #efefef;
	color: #666;
	border: 1px solid #ddd;
	border-radius:  0px 5px 5px 0px;
	font-size: 20px;
	
	box-sizing: border-box;
	outline: none;
	height: 40px;
	margin-top: 30px;
}
select:hover
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

#comment
{
	resize: none;
}

textarea
{
width: 500px;
	background-color: #efefef;
	color: #666;
	border: 1px solid #ddd;
	border-radius:  5px;
	font-size: 20px;
	box-sizing: border-box;
	outline: none;
	height: 80px;
	margin-top: 5px;	
}

textarea:hover
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
	border: 2px solid #a5cda5;
	background-color: #e9f3e9;
	color: #428c42;
}

label
{
font-size: 20px;
}

input#a1[type=submit]
{
	width: 240px;
	background-color:  #efefef;
	font-size:20px;
	color: black;
	padding: 15px 10px;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	margin-right: 15px;
}

input#a1[type=submit]:hover
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

input[type=reset]
{
	width: 240px;
	background-color:  #efefef;
	font-size:20px;
	color: black;
	padding: 15px 10px;
	margin-top: 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=reset]:hover
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}
